.multicol .shiny-options-group{
-webkit-column-count: 2; /* Chrome, Safari, Opera */
-moz-column-count: 2;    /* Firefox */
column-count: 2;
-moz-column-fill: balanced;
-column-fill: balanced;
}



.checkbox{
margin-top: 5px !important;
-webkit-margin-after: 0px !important;
}
/* body */
.content-wrapper, .right-side {
  background-color: #FFFFFF;
  }

/* logo */
.skin-blue .main-header .logo {
  background-color: #12c7d8;
  }

/* logo when hovered */
  .skin-blue .main-header .logo:hover {
  background-color: #12c7d8;
  }

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: #12c7d8;
                              }

        /* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #12c7d8;
                              }

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #f59090;
                              }

        /* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #12c7d8;
                              color: #FFFFFF;
                              }

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #f59090;
                              }
        /* toggle button when hovered  */
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #f59090;
                              }



h3, h4 {
    margin-top: 4px;
    }
.rightAlign{float:right;}
.leftAlign{float:left;}
                    .centerAlign {
                      float: right;

                      position: relative;
                      left: -50%; /* or right 50% */
                        text-align: left;
                    }
                    .centerAlign > .child {
                      position: relative;
                      left: 50%;
                    }
.well {
        padding: 10px;
     }
.tab-pane {
          padding-left: 10px;
     }'


.tabs-above > .nav > li > a {
 background-color: #cdebff;
}
.tabs-above > .nav > li[class=active] > a {
  background-color: #81ccff;
}

div.col-sm-2 {padding:1px}

.main-sidebar { font-size: 20px; }

